[{:db/ident              :ast/op
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db.install/_attribute :db.part/db}

 {:db/ident :ast.op/binding
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/catch
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/case
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/case-test
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/case-then
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/const
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/def
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/deftype
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/do
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/fn
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/fn-method
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/host-interop
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/if
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/import
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/instance?
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/instance-call
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/instance-field
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/invoke
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/keyword-invoke
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/let
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/letfn
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/local
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/loop
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/map
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/method
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/monitor-enter
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/monitor-exit
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/new
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/prim-invoke
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/protocol-invoke
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/quote
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/recur
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/reify
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/set
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/set!
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/static-call
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/static-field
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/the-var
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/throw
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/try
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/var
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/vector
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.op/with-meta
  :db/id    #db/id[:db.part/user]}

 {:db/ident              :ast/form
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/namespace
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/line
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/column
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/file
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/children
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/keyword
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/context
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db.install/_attribute :db.part/db}

 {:db/ident :ast.context/return
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.context/expr
  :db/id    #db/id[:db.part/user]}

 {:db/ident :ast.context/statement
  :db/id    #db/id[:db.part/user]}

 {:db/ident              :ast/idx
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/top-level?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/local
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/body
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/meta
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/expr
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/type
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/keyword
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/literal?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/val
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/items
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/keys
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/vals
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/assignable?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/var
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/statements
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/index              true
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/ret
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/test
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/then
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/else
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/class
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/args
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/index              true
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/target
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/catches
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/finally
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :local/type
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db.install/_attribute :db.part/db}

 {:db/ident :local.type/catch
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/let
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/loop
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/letfn
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/arg
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/fn
  :db/id    #db/id[:db.part/user]}

 {:db/ident :local.type/field
  :db/id    #db/id[:db.part/user]}

 {:db/ident              :ast/exception
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/name
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/bindings
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/index              true
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/init
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :loop/id
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/variadic?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/fixed-arity
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :fn/max-fixed-arity
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/params
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/index              true
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :arg/id
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/methods
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast.def/doc
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/m-or-f
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/fn
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/tag
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/ret-tag
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/return-tag
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/bind-tag
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/arg-tags
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/this
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/interfaces
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :field/mutable
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/fields
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/index              true
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/default
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/tests
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/hash
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/thens
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/shift
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/mask
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/low
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/high
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/long
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/switch-type
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/keyword
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/test-type
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/keyword
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :case/skip-check?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/keyword-callsites
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/keyword
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/protocol-callsites
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/closed-overs
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/constants
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/many
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/branch?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/test?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/path?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/should-not-clear?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/to-clear?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/prim-interface
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/validated?
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/boolean
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/instance
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/field
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}

 {:db/ident              :ast/method
  :db/id                 #db/id[:db.part/db]
  :db/cardinality        :db.cardinality/one
  :db/valueType          :db.type/string
  :db/isComponent        true
  :db.install/_attribute :db.part/db}]
